<p style="color: green"><%= notice %></p>
<h1>This is travel/index</h1>
<h1>Travels</h1>

<div id="travels">
<table>
<thead>
<tr>
<th>Category     </th>
<th>Expense        </th>
<th>Approval</th>
<th>Show</th>
</tr>
</thead>  
  

  <% @travels.each do |t| %>
    
    <tr>
    <td><%=t.category%><td>
    <td><%=t.expenses%></td>
    <td><%=t.approve%></td>
    <td>
      <%= link_to "Show this travel", t %>
    </td>
    </tr>
  <% end %>
  </table> 
</div>

<%= link_to "New travel", new_travel_path %>
<%= link_to "User HomePage", user_path %>
