<p style="color: green"><%= notice %></p>
<h1>You are logged in as <%=current_user.email%></h1>


<div>
  
  
  
  <%= link_to "Wallets", wallets_path %><br>
  <%= link_to "Budget Planner", budgetplaners_path %><br>
  <%=link_to "Sign out", sign_out_path %>

  
</div>