<div id="<%= dom_id category %>">
  <p>
    <strong>Category:</strong>
    <%= category.cgory %>
  </p>

  <p>
    <strong>Sub Category:</strong>
    <%= category.scgory %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= category.amount %>
  </p>

  <p>
    <strong>Approval:</strong>
    <%= category.approval %>
  </p>

</div>
