<div id="<%= dom_id budgetplaner %>">
  <p>
    <strong>Category:</strong>
    <%= budgetplaner.category %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= budgetplaner.subcategory %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= budgetplaner.amount %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= budgetplaner.notes %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= budgetplaner.month %>
  </p>

</div>
