<p style="color: green"><%= notice %></p>

<h1>Budgetplaners</h1>

<div id="budgetplaners">
  
    <% @budgetplaners.each do |budgetplaner| %>
      <%= render budgetplaner %>
      <p>
      <%= link_to "Show this budgetplaner", budgetplaner %>
      </p>
    <% end %>
  

</div>

<%= link_to "New budgetplaner", new_budgetplaner_path %>
<%= link_to "User HomePage", user_path %>
